<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <!-- https://cdnjs.com/libraries/twitter-bootstrap/5.0.0-beta1 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css"
    />

    <!-- Icons: https://getbootstrap.com/docs/5.0/extend/icons/ -->
    <!-- https://cdnjs.com/libraries/font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />

    <title>Hello, world!</title>
  </head>
  <body class="d-flex flex-column vw-100 vh-100 align-items-center justify-content-center">
    
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>SALARY</th>
            <th>DESIGNATION</th>
            <th>EMAIL</th>
            <th>PHONE</th>
            <th></th>
        </tr>

        {% for emp in employees %}
            <tr>
                <td>{{emp.id}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.salary}}</td>
                <td>{{emp.designation}}</td>
                <td>{{emp.email}}</td>
                <td>{{emp.phone}}</td>
                <td>
                  <a href="{% url 'update_view' emp.id %}" class="btn btn-info">update</a>
                  <a href="{% url 'emp_update' emp.id %}" class="btn btn-info">empupdate</a>
                  <a href="{% url 'model_update' emp.id %}" class="btn btn-info">modelupdate</a>
                  <a href="{% url 'delete_view' emp.id %}" class="btn btn-info">Delete</a>
                </td>
            </tr>
        {% endfor %}

    </table>

    <a href="{% url 'register_view' %}" class="btn btn-info">Add employee</a>








    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <!-- https://cdnjs.com/libraries/popper.js/2.5.4 -->
    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js"
    ></script> -->

    <!-- More: https://getbootstrap.com/docs/5.0/getting-started/introduction/ -->
  </body>
</html>
